<h1>Products</h1>


<a href="/products?sort=name&sort_order=asc">Sort by Name Ascending</a>
<br />
<a href="/products?sort=name&sort_order=desc">Sort by Name Descending</a>

<br />
<br />

<a href="/products?sort=price&sort_order=asc">Sort by Price Ascending</a>
<br />
<a href="/products?sort=price&sort_order=desc">Sort by Price Descending</a>

<br />
<br />

<% @products.each_slice(3) do |three_products| %>
  <div class="row">
    <% three_products.each do |product| %>
      <div class="col-md-4">
        <div class="well">
          <a href="/products/<%= product.id %>">
            <h2><%= product.name %></h2>
            <h4>Price: $<%= product.price %></h4>
            <br />
            <img class="index_product_image" src="<%= product.image %>">
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>